/* normalize */
body, ul, li, div, span, h1, h2, h3, p, a, input, button {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "NanumGothic", "Noto Sans KR";
  box-sizing: border-box;
  color: #111;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  vertical-align: middle;
}
button, input {
  border: none;
  background-color: transparent;
}
button {
  cursor: pointer;
}
input:focus {
  outline: none;
}
/* library */
:root {
  --main-color-blue: #002C6A;
  --main-color-deep-pink: #E45171;
  --main-color-soft-pink: #F8A79B;
  --main-color-yellow: #F8D99B;
  --text-color: #333;
  --gray: #eee;
}
.container {
  margin-left: auto;
  margin-right: auto;
}
.img-box > img {
  width: 100%;
}
.inline-grid {
  font-size: 0;
}
.inline-grid > * {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
}
.float-grid > * {
  float: left;
}
.float-grid::after {
  content: "";
  display: block;
  clear: both;
}
.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
}
/* custom */
body {
  overflow-x: hidden;
}
.container {
  max-width: 1200px;
  width: 100%;
}
/* 


header
header_logo 


*/
.header {
  border-bottom: 1px solid var(--gray);
}
.header_logo > div {
  padding-top: 10px;
  text-align: center;
}
.header_logo > div > a {
  display: inline-block;
  width: 192px;
  height: 70px;
}
.header_logo > div > a > img {
  width: 90%;
}
/* 


header
header_search


*/
.header_search > div,
.top-bar > .popup-search > div {
  text-align: center;
  position: relative;
}
.header_search > div > .inner > input,
.top-bar > .popup-search > div > .top > input {
  width: 786px;
  line-height: 57px;
  border-bottom: 3px solid var(--main-color-blue);
  font-family: 'Noto Sans KR';
  font-size: 20px;
  padding-left: 26px;
  background-image: url(../image/ic_baseline-search.png);
  background-repeat: no-repeat;
  background-position: center right 26px;
}
.header_search > div > .inner > button,
.top-bar > .popup-search > div > .top > button {
  position: absolute;
  right: calc(207px + 26px);
  bottom: 14px;
  width: 49px;
  height: 49px;
}
/* 


header
header_search > header_side-menu


*/
.header_side-menu {
  position: absolute;
  right: 30px;
  bottom: 15px;
}
.header_side-menu ul > li > button {
  width: 32px;
  height: 32px;
}
.header_side-menu .btn-my {
  background: url(../image/ic_round-face.png) no-repeat;
}
.header_side-menu .btn-cart {
  background: url(../image/Shopping\ cart.png) no-repeat;
  margin: 0px 16px;
  position: relative;
}
.header_side-menu .btn-cart::after {
  content: "0";
  display: inline-block;
  background-color: var(--main-color-deep-pink);
  color: var(--gray);
  border-radius: 10px;
  padding: 1px 4px;
  font-size: 12px;
  position: absolute;
  top: 0;
  right: -5px;
}
.header_side-menu .btn-customer {
  background: url(../image/Headset\ mic.png) no-repeat;
}
/* 


header
header_search > header_side-menu > sub-menu


*/
.header_side-menu ul > li:hover > .sub-menu {
  display: block;
}
.header_side-menu ul > .btn-my > .sub-menu {
  top: calc(100% + 5px);
  left: -15px;
  width: 209px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px var(--gray);
  background-color: var(--main-color-blue);
}
.header_side-menu ul > li > .sub-menu > li {
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}
.header_side-menu ul > .btn-my > .sub-menu > li:nth-child(2) {
  margin: 0px 16px;
}
.header_side-menu ul > .btn-customer > .sub-menu {
  top: -40px;
  left: 71px;
  white-space: nowrap;
  padding: 8px;
  box-shadow: 2px 2px 4px var(--gray);
  background: var(--main-color-deep-pink);
  border-radius: 10px;
}
.header_side-menu ul > .btn-customer > .sub-menu > li {
  color: #fff;
}
.header_side-menu ul > .btn-customer > .sub-menu::after,
.header_side-menu ul > .btn-my > .sub-menu::after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0px 0px 12px 12px;
  border-color:  transparent var(--main-color-deep-pink) transparent;
  position: absolute;
  top: 24px;
  left: 42%;
  transform: rotate(-135deg);
}
.header_side-menu ul > .btn-my > .sub-menu::after {
  border-color:  transparent var(--main-color-blue) transparent;
  top: -6px;
  left: 25px;
  transform: rotate(45deg);
}
/* 


header
header_search > header_ad


*/
.header_search > div > .header-ad {
  position: absolute;
  top: -30px;
  left: 0;
}
/* 


header
header_menu


*/
.header_menu > div > .inner,
.top-bar > .popup-search > div > .bottom {
  margin: 16px 0px;
  text-align: center;
}
.header_menu > div > .inner > ul,
.top-bar > .popup-search > div > .bottom > ul {
  display: inline-block;
}
.header_menu > div > .inner > ul > div,
.top-bar > .popup-search > div > .bottom > ul > div {
  width: 786px;
  padding: 0px 26px;
  display: flex;
  justify-content: space-between;
}
.header_menu > div > .inner .btn-category > span {
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}
.header_menu > div > .inner li > a,
.top-bar > .popup-search > div > .bottom li > a {
  font-size: 12px;
  font-weight: bold;
  color: #333;
}
.header_menu > div > .inner .hashtag > a,
.top-bar > .popup-search > div > .bottom .hashtag > a {
  color: var(--main-color-blue);
}
/* 


header
popup-category


*/
.popup-category {
  position: absolute;
  top: 250px;
  left: 0;
  right: 0;
  z-index: 900;
  padding-top: 51px;
  padding-bottom: 72px;
  background-color: #fff;
  box-shadow: 0px 2px 2px var(--gray);
  transition: all 0.3s ease;
  transform: translateY(-1%);
  opacity: 0;
  visibility: hidden;
}
.popup-category.active {
  transform: translateY(0%);
  opacity: 1;
  visibility: visible;
}
.popup-category > div > ul {
  display: flex;
  justify-content: space-between;
}
.popup-category .title {
  font-size: 15px;
  font-weight: bold;
  color: var(--main-color-blue);
  border-bottom: 2px solid var(--main-color-blue);
  padding-bottom: 18px;
  margin-bottom: 16px;
}
.popup-category .text ul {
  margin-right: 18px;
}
.popup-category .text li > a {
  font-family: "Noto Sans KR";
  font-size: 13px;
  line-height: 200%;
  letter-spacing: -10%;
}
.popup-category .text li:hover > a {
  text-decoration: underline;
}
.popup-category .btn-close,
.popup-search .btn-close {
  width: 25px;
  height: 25px;
  background: url(../image/Close.svg);
  position: absolute;
  top: 20px;
  right: 243px;
  transition: all 0.3s ease;
}
.popup-category .btn-close:hover,
.popup-search .btn-close:hover {
  transform: rotate(45deg);
}
/* 


top-bar


*/
.top-bar {
  background-color: var(--main-color-blue);
  position: relative;
  z-index: 999;
}
.top-bar.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.top-bar > div {
  text-align: center;
  padding: 0 175px;
}
.top-bar > div > ul {
  display: inline-block;
}
.top-bar > div > ul > div {
  display: flex;
  justify-content: space-between;
}
.top-bar div > li > a {
  line-height: 40px;
  color: #fff;
  font-size: 12px;
  margin-right: 24px;
  white-space: nowrap;
}
.top-bar div > li > a > img {
  width: 46px;
  margin-bottom: 6px;
}
.top-bar div > li[class^="btn-sec-"] {
  font-weight: bold;
}
.top-bar div > .btn-search-topbar > button {
  width: 28px;
  height: 40px;
  background: url(../image/search-white.svg) no-repeat center;
}
/* 


top-bar
popup-search


*/
.top-bar > .popup-search {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 2px 2px var(--gray);
  padding-top: 56px;
  padding-bottom: 40px;
  transition: all 0.3s ease;
  transform: translateY(-1%);
  opacity: 0;
  visibility: hidden;
}
.top-bar > .popup-search.active {
  transform: translateY(0%);
  opacity: 1;
  visibility: visible;
}
.top-bar > .popup-search > div > .top > button {
  bottom: 63px;
}
.popup-search .btn-close {
  top: -30px;
  right: 50px;
}
/* 


section
section-slide


*/
.section-slide {
  border-bottom: 1px solid var(--gray);
}
.section-slide .swiper-main-slide {
  width: 100%;
  height: 650px;
}
.section-slide .swiper-slide {
  background-color: #fff;
}
.section-slide .swiper-slide > .inner {
  padding-left: 160px;
  padding-top: 72px;
  padding-bottom: 72px;
  position: relative;
}
.section-slide .swiper-slide > div > .img-box {
  transform: translatex(-10%);
  opacity: 0;
  transition: all 0.5s ease;
}
.section-slide .swiper-slide.swiper-slide-active > div > .img-box {
  transform: translatex(0%);
  opacity: 1;
}
.section-slide .swiper-slide > div > .img-box > img {
  width: 353px;
  height: 506px;
  box-shadow: 2px 2px 4px var(--gray);
}
.section-slide .swiper-slide > div > .text-box {
  width: 500px;
  height: 506px;
  margin-left: 100px;
  position: relative;
  transform: translatex(10%);
  opacity: 0;
  transition: all 0.5s ease;
}
.section-slide .swiper-slide.swiper-slide-active > div > .text-box {
  transform: translatex(0%);
  opacity: 1;
}
.section-slide .swiper-slide .text-box > ul > .book-category > span,
.section-recom > div > .swiper-recom .swiper-slide .tag-box .book-category > span,
.section-records > div > .swiper-records .tag-box .book-category > span,
.section-used > div > .swiper-used .tag-box .book-category > span {
  font-family: "Noto Sans KR";
  font-size: 12px;
  background-color: var(--main-color-yellow);
  border-radius: 15px;
  padding: 2px 8px;
  display: inline-block;
}
.section-slide .swiper-slide .text-box > ul > .book-title {
  font-weight: bold;
  font-size: 25px;
  margin-top: 40px;
  margin-bottom: 15px;
  cursor: pointer;
}
.section-slide .swiper-slide .text-box > ul > .book-writer {
  font-size: 15px;
}
.section-slide .swiper-slide .text-box > ul > .underline {
  background-color: #111;
  height: 5px;
  width: 53px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.section-slide .swiper-slide .text-box > ul > .book-des {
  font-size: 15px;
  font-family: "Noto Sans KR";
  line-height: 150%;
  margin-bottom: 148px;
}
.section-slide .swiper-slide .text-box > ul > .book-event {
  position: absolute;
  bottom: 0;
  left: 0;
}
.section-slide .swiper-slide .text-box > ul > .book-event > .book-event_title,
.section-recom > div > .swiper-recom .swiper-slide .tag-box .book-event_title,
.section-records > div > .swiper-records .tag-box .book-event_title,
.section-used > div > .swiper-used .tag-box .book-event_title {
  display: inline-block;
  background-color: var(--main-color-blue);
  color: #fff;
  padding: 4px 8px;
  font-size: 12px;
  margin-bottom: 10px;
}
.section-slide .swiper-slide .text-box > ul > .book-event > span:last-child {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  width: 500px;
  display: inline-block;
  font-family: "Noto Sans KR";
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
}
.section-slide .swiper-slide .text-box > ul > .book-event > span:last-child:hover {
  text-decoration: underline;
}
.section-slide .swiper-slide .text-box > .flag-box {
  position: absolute;
  right: 0;
  top: 0px;
}
.section-slide .swiper-slide .text-box > .flag-box > img {
  width: 33px;
}
.section-slide .swiper-slide .text-box > .flag-box > img:nth-child(2) {
  margin-left: 4px;
}
/* 


section-slide > slide-title


*/
.section-slide > div > .slide-title > ul {
  display: flex;
  justify-content: space-between;
}
.section-slide > div > .slide-title > ul > li {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  line-height: 40px;
  border: 1px solid var(--main-color-blue);
  border-right: none;
  cursor: pointer;
}
.section-slide > div > .slide-title > ul > li:last-child {
  border-right: 1px solid var(--main-color-blue);
}
.section-slide > div > .slide-title > ul > li.active,
.section-slide > div > .slide-title > ul > li:hover {
  color: #fff;
  background-color: var(--main-color-blue);
}
/* 


section-recom


*/
.section-recom > div {
  padding-top: 72px;
  margin-bottom: 112px;
}
.section-recom > div > .title {
  margin-bottom: 32px;
}
.section-recom > div > .title > h1 {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 16px;
}
.section-recom > div > .title > p {
  color: var(--main-color-blue);
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 32px;
}
.section-recom > div > .title > .keywords {
  position: absolute;
}
.section-recom > div > .title > .keywords > li {
  font-family: "Noto Sans KR";
  font-weight: 500;
  font-size: 15px;
  margin-right: 30px;
  line-height: 31px;
}
.section-recom > div > .title > .keywords > li:first-child {
  font-family: "NanumGothic";
  font-weight: bold;
  font-size: 15px;
  background-color: var(--main-color-deep-pink);
  color: #fff;
  padding: 8px;
  border-radius: 20px;
  line-height: 1;
}
.section-recom > div > .swiper-recom,
.section-used > div > .swiper-used {
  width: 100%;
  height: 418px;
  overflow: hidden;
  position: relative;
  padding-top: 60px;
}
.section-recom > div > .swiper-recom div[class^="slide_"],
.section-used > div > .swiper-used div[class^="slide_"] {
  width: 278px;
  height: 354px;
  box-shadow: 2px 2px 4px var(--gray);
  overflow: hidden;
  cursor: pointer;
  margin-right: 27px;
}
.section-recom > div > .swiper-recom div[class^="slide_"]:nth-child(4n),
.section-used > div > .swiper-used div[class^="slide_"] :nth-child(4n){
  margin-right: 0px;
}
.section-recom > div > .swiper-recom div[class^="slide_"]:hover .text-box,
.section-used > div > .swiper-used div[class^="slide_"]:hover .text-box {
  transform: translateY(0%);
}
.section-recom > div > .swiper-recom div[class^="slide_"] > .inner,
.section-used > div > .swiper-used div[class^="slide_"] > .inner {
  position: relative;
  padding: 14px 36px;
}
.section-recom > div > .swiper-recom .swiper-slide .tag-box > ul,
.section-used > div > .swiper-used .tag-box > ul {
  display: flex;
  justify-content: space-between;
}
.section-recom > div > .swiper-recom .swiper-slide .tag-box .book-category > span,
.section-recom > div > .swiper-recom .swiper-slide .tag-box .book-event > .book-event_title,
.section-used > div > .swiper-used .tag-box .book-category > span,
.section-used > div > .swiper-used .tag-box .book-event > .book-event_title {
  font-size: 10px;
  margin-bottom: 16px;
}
.section-recom > div > .swiper-recom .swiper-slide .img-box > img,
.section-used > div > .swiper-used .img-box > img {
  width: 206px;
  height: 290px;
}
.section-recom > div > .swiper-recom .swiper-slide .text-box,
.section-used > div > .swiper-used .text-box {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 278px;
  height: 100px;
  background-color: rgba(0,0,0,.7);
  padding: 20px 0;
  transform: translateY(100%);
  transition: transform 0.3s;
}
.section-recom > div > .swiper-recom .swiper-slide .text-box > .book-title,
.section-used > div > .swiper-used .text-box > .book-title {
  font-size: 14px;
  color: #fff;
}
.section-recom > div > .swiper-recom div[class^="slide_"]:hover .text-box > .book-title,
.section-used > div > .swiper-used div[class^="slide_"]:hover .text-box > .book-title {
  text-decoration: underline;
}
.section-recom > div > .swiper-recom .swiper-slide .text-box > .book-writer,
.section-used > div > .swiper-used .text-box > .book-writer {
  font-size: 12px;
  margin: 8px 0;
  color: #fff;
}
.section-recom > div > .swiper-recom .swiper-slide .text-box > .book-des,
.section-used > div > .swiper-used .text-box > .book-des {
  font-size: 10px;
  color: #fff;
}
.section-recom > div > .swiper-recom > .swiper-button-box {
  position: absolute;
  top: 20px;
  right: 0px;
}
.section-recom > div > .swiper-recom > .swiper-button-box > div {
  width: 55px;
  display: inline-block;
}
.section-recom > div > .swiper-recom > .swiper-button-box > div::after,
.notice > div > .swiper-notice > .swiper-button-box > div::after {
  display: none;
}
.section-recom > div > .swiper-recom > .swiper-button-box > .swiper-button-next {
  top: 10px;
}
.section-recom > div > .swiper-recom > .swiper-button-box > .swiper-button-prev {
  right: 100px;
  left: auto;
  top: -12px;
  transform: rotate(180deg);
}
.section-recom > div > .swiper-recom > .swiper-button-box > div::before,
.notice > div > .swiper-notice > .swiper-button-box > div::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #111;
  margin-bottom: 3px;
  transition: width 0.3s;
}
.section-recom > div > .swiper-recom > .swiper-button-box > div:hover::before {
  width: 50px;
}
.section-recom > div > .swiper-recom > .swiper-button-box > div > img,
.notice > div > .swiper-notice > .swiper-button-box > div > img {
  margin-left: -10px;
}
/* 


section-today


*/
.section-today {
  position: relative;
  height: 550px;
  margin-bottom: 88px;
}
.section-today > .today-bg {
  background-color: #018B7B;
  height: 286px;
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  z-index: -1;
}
.section-today > .today-bg::after {
  content: "";
  display: block;
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow: -2px -4px 3px rgba(0,0,0,0.2);
  position: absolute;
  bottom: -61px;
  left: 0;
}
.section-today > div > .title {
  text-align: right;
}
.section-today > div > .title > h1 {
  font-size: 25px;
  font-weight: bold;
  margin-right: 102px;
}
.section-today > div > .inner > div {
  width: calc(100% / 2);
}
.section-today > div > .inner .book-img-box {
  position: relative;
  height: 450px;
  overflow-y: hidden;
  bottom: -12px;
}
.section-today > div > .inner .book-img-box > div {
  position: absolute;
}
.section-today > div > .inner .book-img-box > .book-left {
  top: 70px;
  left: 25px;
  transform: rotate(-5deg);
}
.section-today > div > .inner .book-img-box > .book-center {
  top: 50px;
  left: 120px;
  z-index: 1;
}
.section-today > div > .inner .book-img-box > .book-right {
  top: 70px;
  left: 240px;
  transform: rotate(5deg);
}
.section-today > div > .inner .book-img-box > div:not([class="book-center"]):hover .img-box {
  transform: translateY(-7%);
  cursor: pointer;
}
.section-today > div > .inner .book-img-box .img-box {
  transition: all 0.3s;
}
.section-today > div > .inner .book-img-box .img-box > img {
  width: 329px;
}
.section-today > div > .inner .book-text-box {
  /* display: none; */
  position: relative;
}
.section-today > div > .inner .book-text-box > div {
  width: 230px;
  position: absolute;
  top: -360px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  transform: translateX(-100%);
}
.section-today > div > .inner .book-text-box > div.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
}
.section-today > div > .inner .book-text-box > .book-left {
  left: -232px;
  text-align: right;
  transform: translateX(100%);
}
.section-today > div > .inner .book-text-box > .book-right {
  right: -226px;
}
.section-today > div > .inner .book-text-box > div .line > span {
  display: block;
  width: 80px;
  height: 3px;
  margin-bottom: 8px;
  background-color: #111;
}
.section-today > div > .inner .book-text-box > .book-left .line > span {
  margin-left: auto;
  margin-right: -10px;
}
.section-today > div > .inner .book-text-box > .book-right .line > span {
  margin-right: auto;
  margin-left: -10px;
}
.section-today > div > .inner .book-text-box > div .line > span:first-child {
  width: 140px;
  margin-bottom: 16px;
}
.section-today > div > .inner .book-text-box > div .book-title {
  font-weight: bold;
  font-size: 15px;
  line-height: 150%;
  margin-bottom: 4px;
}
.section-today > div > .inner .book-text-box > div .book-writer {
  font-size: 15px;
  line-height: 150%;
}
.section-today > div > .inner > .book-main {
  position: absolute;
  bottom: 60px;
  right: 0;
  width: 935px;
}
.section-today > div > .inner > .book-main > .text-box {
  display: none;
}
.section-today > div > .inner > .book-main > .text-box.active {
  display: block;
}
.section-today > div > .inner > .book-main > .text-box > .sent {
  font-family: "Noto Sans KR";
  font-size: 15px;
  color: #fff;
  line-height: 150%;
  width: 486px;
  font-weight: 300;
}
.section-today > div > .inner > .book-main > .text-box > .book-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 150%;
  color: #fff;
  margin-top: 34px;
  margin-bottom: 8px;
}
.section-today > div > .inner > .book-main > .text-box > .book-writer {
  font-size: 15px;
  line-height: 150%;
  color: #fff;
  font-weight: 400;
  margin-bottom: 40px;
}
.section-today > div > .inner > .book-main > .bg-box {
  position: absolute;
  bottom: -60px;
  right: 377px;
}
.section-today > div > .inner > .book-main > .bg-box > img:first-child {
  width: 277px;
}
.section-today > div > .inner > .book-main > .bg-box > img:last-child {
  width: 184px;
  margin-left: -93px;
  margin-bottom: 61px;
}
/* 


section-records


*/
.section-records > div {
  margin-bottom: 140px;
}
.section-records > div > .title,
.section-used > div > .title {
  padding-top: 16px;
  padding-left: 24px;
  margin-bottom: 32px;
}
.section-records > div > .title > h1,
.section-used > div > .title > h1 {
  margin-bottom: 24px;
  font-size: 25px;
  font-weight: bold;
}
.section-records > div > .title li > a,
.section-used > div > .title li > a {
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 20px;
  background-color: transparent;
}
.section-records > div > .title li.active > a,
.section-records > div > .title li:hover > a,
.section-used > div > .title li.active > a,
.section-used > div > .title li:hover > a {
  color: #fff;
  background-color: var(--main-color-blue);
}
.section-records > div > .title li:nth-child(2),
.section-used > div > .title li:nth-child(2) {
  margin: 0 30px;
}
.section-records > div > .swiper-records {
  width: 100%;
  height: 365px;
  overflow: hidden;
}
.section-records > div > .swiper-records div[class^="slide_"] {
  cursor: pointer;
  margin-right: 25px;
}
.section-records > div > .swiper-records div[class^="slide_"]:nth-child(4n) {
  margin-right: 0;
}
.section-records > div > .swiper-records .img-box {
  width: 277px;
  height: 277px;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  margin-bottom: 8px;
}

.section-records > div > .swiper-records div[class^="slide_"] .img-box > img {
  transition: all 0.3s ease;
}
.section-records > div > .swiper-records div[class^="slide_"]:hover .img-box > img {
  transform: scale(1.1);
}
.section-records > div > .swiper-records .tag-box > ul {
  display: flex;
  justify-content: space-between;
}
.section-records > div > .swiper-records .tag-box > ul > li > span {
  font-size: 10px !important;
  margin-bottom: 0 !important;
}
.section-records > div > .swiper-records .text-box {
  text-align: center;
}
.section-records > div > .swiper-records .text-box > * {
  width: 277px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.section-records > div > .swiper-records div[class^="slide_"]:hover .text-box > .book-title {
  text-decoration: underline 2px;
}
.section-records > div > .swiper-records .text-box > .book-title {
  font-weight: bold;
  font-size: 16px;
  margin: 10px 0;
}
.section-records > div > .swiper-records .text-box > .book-writer {
  font-size: 12px;
}
/* 


section-event


*/
/* .section-event > .title-box {
  background-color: var(--main-color-yellow);
  overflow: hidden;
}
.section-event > .title-box > div > .title {
  text-align: center;
}
.section-event > .title-box > div > .title > .img-box img {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 65px;
}
.section-event > .title-box > div > .title > h1 {
  font-weight: bold;
  font-size: 22px;
  color: #fff;
  margin-bottom: 15px;
}
.section-event > .title-box > div > .sub-title > ul > li {
  position: relative;
}
.section-event > .title-box > div > .sub-title > ul > li:nth-child(5) {
  clear: both;
}
.section-event > .title-box > div > .sub-title > ul > li > a {
  font-size: 17px;
  display: inline-block;
  width: 277px;
  height: calc((102px / 2) - 16px);
  text-align: center;
  line-height: calc((102px / 2) - 16px);
  margin-bottom: 10px;
}
.section-event > .title-box > div > .sub-title > ul > li.active > a {
  font-weight: bold;
  border-radius: 50px;
  background-color: #FFEFCF;
}
.section-event > .contents-box {
  height: 710px;
  margin-bottom: 72px;
}
.section-event > .contents-box .swiper-event {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.section-event > .contents-box .swiper-event .slide-8 > img {
  cursor: pointer;
}
.section-event > .contents-box .swiper-event .slide-1 > button {
  position: absolute;
  top: 63%;
  left: 43%;
  display: block;
  width: 283px;
  height: 38px;
  border-radius: 20px;
  font-size: 0;
}
.section-event > .contents-box .swiper-event .slide-2 > button {
  position: absolute;
  display: inline-block;
  width: 84px;
  height: 28px;
  border-radius: 19px;
  font-size: 0;
}
.section-event > .contents-box .swiper-event .slide-2 > button:first-of-type {
  top: 30%;
  left: 49%;
}
.section-event > .contents-box .swiper-event .slide-2 > button:nth-of-type(2) {
  top: 35%;
  left: 41%;
}
.section-event > .contents-box .swiper-event .slide-2 > button:nth-of-type(3) {
  top: calc(40% - 2px);
  left: calc(46% + 10px);
}
.section-event > .contents-box .swiper-event .slide-2 > button:nth-of-type(4) {
  top: calc(45% - 3px);
  left: calc(40% + 7px);
}
.section-event > .contents-box .swiper-event .slide-2 > button:nth-of-type(5) {
  top: calc(31% - 6px);
  left: calc(65% + 21px);
}
.section-event > .contents-box .swiper-event .slide-2 > button:nth-of-type(6) {
  top: calc(36% - 7px);
  left: calc(67% + 14px);
}
.section-event > .contents-box .swiper-event .slide-2 > button:nth-of-type(7) {
  top: calc(41% - 9px);
  left: calc(65% + 19px);
}
.section-event > .contents-box .swiper-event .slide-2 > button:nth-of-type(8) {
  top: calc(71% - 14px);
  left: calc(30% + 15px);
}
.section-event > .contents-box .swiper-event .slide-2 > button:nth-of-type(9) {
  top: calc(71% - 14px);
  left: calc(51% + 13px);
}
.section-event > .contents-box .swiper-event .slide-2 > button:nth-of-type(10) {
  top: calc(71% - 14px);
  left: calc(74% + 7px);
}
.section-event > .contents-box .swiper-event .slide-3 > button {
  position: absolute;
  display: inline-block;
  border-radius: 31px;
  width: 240px;
  height: 240px;
  transition: all 0.3s;
  color: transparent;
  font-size: 15px;
  line-height: 150%;
  padding: 10px;
}
.section-event > .contents-box .swiper-event .slide-3 > button > span {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: transparent;
  margin-bottom: 5px;
  transition: all 0.3s;
}
.section-event > .contents-box .swiper-event .slide-3 > button:hover {
  background-color: rgba(0,0,0,0.4);
  color: #fff;
}
.section-event > .contents-box .swiper-event .slide-3 > button:hover > span {
  background-color: #fff;
}
.section-event > .contents-box .swiper-event .slide-3 > button:first-of-type {
  top: calc(22% + 2px);
  left: calc(19% - 2px);
}
.section-event > .contents-box .swiper-event .slide-3 > button:nth-of-type(2) {
  top: calc(22% + 2px);
  left: calc(35% - -9px);
}
.section-event > .contents-box .swiper-event .slide-3 > button:nth-of-type(3) {
  top: calc(22% + 2px);
  left: calc(52% - 0px);
}
.section-event > .contents-box .swiper-event .slide-3 > button:nth-of-type(4) {
  top: calc(22% + 2px);
  left: calc(69% - 8px);
}
.section-event > .contents-box .swiper-event .slide-3 > button:nth-of-type(5) {
  top: calc(62% + -2px);
  left: calc(19% - 2px);
}
.section-event > .contents-box .swiper-event .slide-3 > button:nth-of-type(6) {
  top: calc(62% + -2px);
  left: calc(35% - -9px);
}
.section-event > .contents-box .swiper-event .slide-3 > button:nth-of-type(7) {
  top: calc(62% + -2px);
  left: calc(52% - 0px);
}
.section-event > .contents-box .swiper-event .slide-3 > button:nth-of-type(8) {
  top: calc(62% + -2px);
  left: calc(69% - 8px);
  font-size: 0;
}
.section-event > .contents-box .swiper-event .slide-3 > button:nth-of-type(8):hover {
  background-color: transparent;
}
.section-event > .contents-box .swiper-event .slide-4 > button {
  position: absolute;
  display: inline-block;
  border-radius: 31px;
  font-size: 0;
  height: 43px;
  bottom: 38px;
}
.section-event > .contents-box .swiper-event .slide-4 > button:first-of-type {
  left: 35%;
  width: 240px;
}
.section-event > .contents-box .swiper-event .slide-4 > button:nth-of-type(2) {
  left: calc(53% + 7px);
  width: 237px;
}
.section-event > .contents-box .swiper-event .slide-5 > button {
  position: absolute;
  display: inline-block;
  border-radius: 31px;
  font-size: 0;
  width: 197px;
  height: 38px;
  bottom: 67px;
  left: calc(45% + 9px);
}
.section-event > .contents-box .swiper-event .slide-6 > button {
  position: absolute;
  display: inline-block;
  border-radius: 31px;
  font-size: 0;
  width: 403px;
  height: 50px;
  bottom: 37px;
  left: calc(40% + -2px);
}
.section-event > .contents-box .swiper-event .slide-7 > button {
  position: absolute;
  display: inline-block;
  border-radius: 31px;
  font-size: 0;
  width: 257px;
  height: 50px;
  bottom: 131px;
  left: calc(40% + -25px);
} */
.section-event {
  width: 100%;
  height: 896px;
  overflow: hidden;
  border-top: 2px solid var(--main-color-blue);
  border-bottom: 2px solid var(--main-color-blue);
  margin-bottom: 112px;
}
.section-event > .title-box {
  width: 570px;
  height: 100%;
  float: left;
  /* background-color: var(--main-color-yellow); */
  border-right: 2px solid var(--main-color-blue);
}
.section-event > .title-box > div {
  width: 202px;
  height: 100%;
  margin-left: auto;
  padding-top: 112px;
  padding-bottom: 160px;
}
.section-event > .title-box .title {
  padding-right: 16px;
}
.section-event > .title-box .img-box {
  text-align: right;
  /* margin-bottom: 12px; */
}
.section-event > .title-box img {
  /* width: 65px; */
  width: 144px;
}
.section-event > .title-box h1 {
  font-weight: bold;
  font-size: 22px;
  text-align: right;
  /* color: #fff; */
  color: var(--main-color-blue);
  margin-bottom: 48px;
}
.section-event .sub-title li {
  text-align: right;
  margin-bottom: 24px;
}
.section-event .sub-title li > a {
  display: inline-block;
  font-size: 16px;
  line-height: 35px;
  white-space: nowrap;
  width: 100%;
  padding-right: 16px;
}
.section-event .sub-title li.active > a,
.section-event .sub-title li:hover > a {
  /* background-color: #FFEFCF; */
  background-color: var(--main-color-blue);
  color: #fff;
  font-weight: bold;
}
.section-event > .contents-box {
  width: calc(100% - 570px);
  height: 100%;
  float: right;
  background-color: #FFEFCF;
}
.section-event > .contents-box > div {
  width: 995px;
  height: 100%;
}
/* 


section-used


*/
.section-used {
  margin-bottom: 80px;
}
.section-used > .used-title {
  border-bottom: 2px solid var(--main-color-blue);
  margin-bottom: 72px;
}
.section-used > .used-title > div > h1 {
  padding-bottom: 6px;
  text-align: center;
}
.section-used > div > .swiper-used {
  padding-top: 0;
}
.section-used > div > .swiper-used div[class^="slide_"] {
  margin-right: 22px;
}
.section-used .resell-box > .inner {
  padding: 30px 72px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  border-radius: 16px;
}
.section-used .resell-box .input-box {
  width: calc((100% / 2) + 24px);
}
.section-used .resell-box .inform-box {
  width: calc((100% / 2) - 24px);
}
.section-used .resell-box .input-box > li:first-child {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
}
.section-used .resell-box .input-box > li > span:first-child {
  font-size: 15px;
  width: 112px;
  display: inline-block;
  margin-right: 40px;
}
.section-used .resell-box .input-box > li > span > label {
  display: inline-block;
  margin-right: 8px;
  margin-left: 4px;
  font-size: 12px;
  position: relative;
  top: -3px;
  left: 0;
}
.section-used .resell-box .input-box > li:nth-child(3) {
  margin-top: 16px;
  margin-bottom: 8px;
}
.section-used .resell-box .input-box > li:nth-child(3) > span > input {
  width: 295px;
  border-bottom: 1px solid #333;
  line-height: 30px;
}
.section-used .resell-box .input-box > li:nth-child(3) > span > button {
  display: inline-block;
  margin-left: 8px;
  padding: 8px 16px;
  color: #fff;
  background-color: #333;
  border-radius: 8px;
}
.section-used .resell-box .input-box > li:nth-child(4) {
  font-family: "Noto Sans KR";
  font-weight: bold;
  font-size: 11px;
  padding-left: 156px;
  color: #333;
}
.section-used .resell-box .inform-box li {
  font-size: 12px;
  font-family: "Noto Sans KR";
}
.section-used .resell-box .inform-box > li:first-child {
  color: var(--main-color-deep-pink);
  font-weight: bold;
  margin-bottom: 13px;
}
.section-used .resell-box .inform-box ul > li {
  list-style: disc;
  line-height: 130%;
  letter-spacing: -7.5%;
  width: 517px;
}
.section-used .resell-box .inform-box ul > li::marker {
  font-size: 1px;
}
.section-used .resell-box .inform-box li > span {
  margin-top: 22px;
  color: var(--main-color-blue);
  margin-right: 18px;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  font-size: 11px;
}
.section-used .resell-box .inform-box li > span:hover {
  text-decoration: underline;
}
.section-used .map-title {
  background-color: var(--main-color-blue);
  text-align: center;
  margin-top: 112px;
  margin-bottom: 72px;
}
.section-used .map-title h1 {
  font-size: 20px;
  color: #fff;
  padding: 16px 0;
}
.section-used .map-contents > div {
  padding: 0 72px;
}
.section-used .map-contents > div > .map-box {
  width: 400px;
  margin-right: 85px;
}
.section-used .map-contents > div > .map-box > .img-box {
  position: relative;
}
.section-used .map-contents > div > .map-box > .img-box > .point-box > button {
  font-size: 15px;
  color: #333;
  text-align: center;
  padding-bottom: 45px;
  background-image: url(../image/point-navy.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  transition: all 0.3s;
  white-space: nowrap;
}
.section-used .map-contents > div > .map-box > .img-box > .point-box > button.no-store {
  cursor: default;
}
.section-used .map-contents > div > .map-box > .img-box > .point-box > button:not(.no-store):hover {
  font-weight: bold;
  font-size: 18px;
  background-image: url(../image/point-pink.png);
  padding-bottom: 55px;
}
.section-used .map-contents > div > .map-box > .img-box > .point-box > button:first-child {
  top: 97px;
  left: 13px;
}
.section-used .map-contents > div > .map-box > .img-box > .point-box > button:first-child:hover {
  top: calc(97px - 8px);
  left: calc(13px - 8px);
}
.section-used .map-contents > div > .map-box > .img-box > .point-box > button:nth-child(2) {
  top: 130px;
  left: 68px;
}
.section-used .map-contents > div > .map-box > .img-box > .point-box > button:nth-child(2):hover {
  top: calc(130px - 8px);
  left: calc(68px - 8px);
}
.section-used .map-contents > div > .map-box > .img-box > .point-box > button:nth-child(3) {
  top: 96px;
  left: 229px;
}
.section-used .map-contents > div > .map-box > .img-box > .point-box > button:nth-child(4) {
  top: 165px;
  left: 121px;
}
.section-used .map-contents > div > .map-box > .img-box > .point-box > button:nth-child(4):hover {
  top: calc(165px - 5px);
  left: calc(121px - 5px);
}
.section-used .map-contents > div > .map-box > .img-box > .point-box > button:nth-child(5) {
  top: 192px;
  left: 200px;
}
.section-used .map-contents > div > .map-box > .img-box > .point-box > button:nth-child(6) {
  top: 265px;
  left: 62px;
}
.section-used .map-contents > div > .map-box > .img-box > .point-box > button:nth-child(7) {
  top: 311px;
  left: 103px;
}
.section-used .map-contents > div > .map-box > .img-box > .point-box > button:nth-child(7):hover {
  top: calc(311px - 8px);
  left: calc(103px - 8px);
}
.section-used .map-contents > div > .map-box > .img-box > .point-box > button:nth-child(8) {
  top: 277px;
  left: 264px;
}
.section-used .map-contents > div > .map-box > .img-box > .point-box > button:nth-child(9) {
  top: 381px;
  left: 90px;
}
.section-used .map-contents > div > .map-box > .img-box > .point-box > button:nth-child(9):hover {
  top: calc(381px - 7px);
  left: calc(90px - 7px);
}
.section-used .map-contents > div > .map-box > .img-box > .point-box > button:nth-child(10) {
  top: 370px;
  left: 263px;
}
.section-used .map-contents > div > .map-box > .img-box > .point-box > button:nth-child(10):hover {
  top: calc(370px - 8px);
  left: calc(263px - 8px);
}
.section-used .map-contents > div > .map-box > .img-box > .point-box > button:nth-child(11) {
  top: 351px;
  left: 353px;
}
.section-used .map-contents > div > .map-box > .img-box > .point-box > button:nth-child(11):hover {
  top: calc(351px - 8px);
  left: calc(353px - 8px);
}
.section-used .map-contents > div > .map-box > .img-box > .point-box > button:nth-child(12) {
  top: 447px;
  left: 49px;
}
.section-used .map-contents > div > .map-box > .img-box > .point-box > button:nth-child(12):hover {
  top: calc(447px - 8px);
  left: calc(49px - 8px);
}
.section-used .map-contents > div > .map-box > .img-box > .point-box > button:nth-child(13) {
  top: 439px;
  left: 202px;
}
.section-used .map-contents > div > .map-box > .img-box > .point-box > button:nth-child(13):hover {
  top: calc(439px - 7px);
  left: calc(202px - 7px);
}
.section-used .map-contents > div > .map-box > .img-box > .point-box > button:nth-child(14) {
  top: 448px;
  left: 309px;
}
.section-used .map-contents > div > .map-box > .img-box > .point-box > button:nth-child(14):hover {
  top: calc(448px - 8px);
  left: calc(309px - 8px);
}
.section-used .map-contents > div > .map-box > .img-box > .point-box > button:nth-child(15) {
  top: 513px;
  left: 45px;
}
.section-used .map-contents > div > .map-box > .img-box > .point-box > button:nth-child(16) {
  top: 581px;
  left: 236px;
}
.section-used .map-contents .list-box > ul {
  width: 566px;
  vertical-align: middle;
  margin-bottom: 24px;
}
.section-used .map-contents .list-box > ul > .title-box {
  border-bottom: 1px solid var(--main-color-blue);
  clear: both;
  width: 566px;
}
.section-used .map-contents .list-box > ul > .title-box > .title{
  background-color: var(--main-color-blue);
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  padding: 6px 16px;
  margin-right: 8px;
}
.section-used .map-contents .list-box > ul > .title-box > span:not([class="title"]) {
  font-weight: bold;
  font-size: 12px;
  /* font-family: "Noto Sans KR"; */
  color: var(--main-color-blue);
}
.section-used .map-contents .list-box > ul > li {
  text-align: center;
  width: calc(100% / 6);
  height: 38px;
  margin: 12px 0;
  line-height: 38px;
  cursor: pointer;
  font-size: 15px;
}
.section-used .map-contents .list-box > ul > li.active {
  font-weight: bold;
  color: var(--main-color-deep-pink);
}
.section-used .map-contents .list-box > ul > li:nth-of-type(6n + 1) {
  clear: both;
}
.section-used .map-contents .list-box > ul > .lh-130 {
  line-height: 130%;
}
/* 


footer
notice


*/
.notice {
  border-top: 2px solid var(--main-color-blue);
  border-bottom: 2px solid var(--main-color-blue);
  padding-top: 12px;
  padding-bottom: 15px;
}
.notice > div > .title {
  width: 175px;
}
.notice > div > .title > h1 {
  font-family: "Noto Sans KR";
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.notice > div > .swiper-notice {
  width: calc(100% - 175px);
  height: 26px;
  line-height: 28px;
  overflow: hidden;
  position: relative;
}
.notice > div > .swiper-notice > div > .swiper-slide > span {
  font-family: "Noto Sans KR";
  font-size: 15px;
  cursor: pointer;
}
.notice > div > .swiper-notice > .swiper-button-box {
  position: absolute;
  top: 21px;
  right: 0;
}
.notice > div > .swiper-notice > .swiper-button-box > div {
  width: 35px;
  display: inline-block;
}
.notice > div > .swiper-notice > .swiper-button-box > div:hover::before {
  width: 30px;
}
.notice > div > .swiper-notice > .swiper-button-box > .swiper-button-prev {
  left: -100px;
  transform: translateY(-14px) rotate(-180deg);
}
/* 


footer
corp


*/
.corp > div {
  padding-top: 24px;
  padding-bottom: 48px;
}
.corp > div > .footer-menu {
  padding-right: 21px;
  padding-left: 55px;
  margin-bottom: 32px;
}
.corp > div > .footer-menu > div {
  display: flex;
  justify-content: space-between;
}
.corp > div > .footer-menu > div > li {
  font-weight: bold;
  font-size: 12px;
  color: #333;
  cursor: pointer;
}
.corp > div > .biz {
  text-align: center;
}
.corp > div > .biz > .img-box {
  width: 120px;
  display: inline-block;
  margin-bottom: 24px;
}
.corp > div > .biz > .img-box > img {
  object-position: -12px;
}
.corp > div > .biz li, .corp > div > .biz li > span {
  font-family: "Noto Sans KR";
  font-size: 12px;
  line-height: 150%;
}
.corp > div > .biz li > span:first-child::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 11px;
  background-color: #333;
  margin: 0 10px;
}
.corp > div > .biz li > span.text-deco:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* 


footer
btn-to-top


*/
.btn-to-top > button {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--main-color-blue);
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 40px;
  position: fixed;
  right: 352px;
  bottom: 30px;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.btn-to-top.active > button {
  opacity: 1;
  visibility: visible;
}